*.o
*.obj
*.ko
*.elf
*.exe
*.out
*.app
*.so
*.so.*
*.dylib
*.dll
*.a
*.lib
*.dSYM/
*.su
*.idb
*.pdb
build/
Debug/
Release/
*.d
*~
.*.swp
.*.swo
.vscode/ipch/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.log
.vscode/
shellify